.card {
  width: 200px;
  height: 300px;
  background-color: #A7E9AF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 150px;
  height: 250px;
  
}

.frente:hover {
  transform: rotateY(180deg);
}
  


