.jogo {
  width: 700px;
  height: 700px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  align-items: baseline;
  flex-wrap: wrap;
  
}

.carta {
  perspective: 1000px; 
  width: 117px;
  height: 146px;
  position: relative;
  margin-left: 25px;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.virada {
  transform: rotateY(180deg); 
}

.face {
  background-color: #A7E9AF;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.frente-face {
  transform: rotateY(180deg);
}

.verso-face {
  transform: rotateY(0deg); 
}







  


