* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEF9BF;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloGame {
  font-family: Times New Roman;
  font-weight: 700;
  font-size: 56px;
  line-height: 65px;
  text-align: center;
  color: #75B79E;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0 20px;
}